<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search my bio</title>
    <link rel="stylesheet" type="text/css" href="web/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="web/static/style.css">
    <style media="print">
        ::first-letter{
          margin: 0;
          padding: 0;
        }
		div.page-break-block {
		  page-break-after: always
		}
    </style>
</head>
<body>


<div class="container">

    <h2 class="display-4">General info</h2>


    <p>
        <strong>Name: </strong> {{ context['general']['name'] }}
    </p>

        <p>
            <strong>LinkedIn: </strong> <a href="{{ context['general']['linkedin'] }}">{{ context['general']['linkedin'] }}</a>
        </p>
        <p>
            <strong>Github: </strong> <a href="{{ context['general']['github'] }}">{{ context['general']['github'] }}</a>
        </p>
        <p>
            <strong>Blog: </strong> <a href="{{ context['general']['blog'] }}">{{ context['general']['blog'] }}</a>
        </p>

    <p>
        <strong>Email: </strong> {{ context['general']['email'] }}
    </p>


	<div class="block">
    <h2 class="display-4">Education</h2>
    Certificates:
    <ul>
        {% for course in context['certificates'] %}
        <li>
            {{ course['name'] }} completed at {{ course['completed'] }}
        </li>
        {% endfor %}
    </ul>
    <!--<div class="printable-cv">-->
        <!--{% for key in context['schools'] %}-->
        <!--<div class="card" >-->
            <!--<div class="card-block">-->
                <!--<h4 class="card-title">{{ key }}</h4>-->
                <!--<p><strong>Period:</strong> From {{ context['schools'][key]['started'] }} to {{ context['schools'][key]['finished'] }} </p>-->
                <!--<p><strong>Thesis:</strong> {{ context['schools'][key]['thesis'] }} </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--{% endfor %}-->
    <!--</div>-->
	</div>

	<div class="block">
    <h2 class="display-4">Commercial projects</h2>
	

	
    {% for project in context['commercial_projects'] %}
        <div class="item">
            <h4>{{ project['name'] }}
                <small class="text-muted">started {{ project['started'] }}</small>
            </h4>
            <p>{{ project['description']  }}</p>
            <p>
                    <!-- <ul>
                        {% for story in project['success'] %}
                            <li>{{ story }} </li>
                        {% endfor %}    
                    </ul> -->
                </p>    
            <p>

                <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                {% for tag in project['technologies'] %}
                    <button type="button" class="btn btn-outline-secondary">{{ tag }}</button>
                {% endfor %}
                </div>
            </p>
        </div>
        <hr/>
    {% endfor %}
	
    
    {% if context['commercial_projects_irrelevant'] %}
    <small>
    Following projects were judged as irrelevant, so they were excluded from this detailed view:
        <ul>
        {% for project in context['commercial_projects_irrelevant'] %}
            <li>{{ project['name'] }} {{ project['technologies'] }}</li>
        {% endfor %}
        </ul>
    </small>
    {% endif %}
	</div>

	<div class="block">
    <h2 class="display-4">Private projects</h2>

    {% for project in context['private_projects'] %}
        <div class="item">
            <h4>{{ project['name'] }}
                <small class="text-muted">started {{ project['started'] }}</small>
            </h4>
            <p>{{ project['description']  }}</p>
            <p>Code repo URL: <a href="{{ project['url'] }}">{{ project['url'] }}</a></p>
            <p>
                <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                {% for tag in project['technologies'] %}
                    <button type="button" class="btn btn-outline-secondary">{{ tag }}</button>
                {% endfor %}
                </div>
            </p>
        </div>
        <hr/>
    {% endfor %}
	</div>

    <div class="block">	
    <h2 class="display-4">Skill cloud</h2>
        <img src="{{ context['skill_cloud_url'] }}" />
        <hr/>
    </div> 
    

<p><small>printed using  <a href="{{ context['project_url'] }}">SearchMyBio</a> </small> </p>


</div>



</body>
</html>