[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
elasticsearch = "*"
flask = "*"
wordcloud = "*"

[dev-packages]

[scripts]
prod = "python cv_generator.py -p platform"
 
[requires]
python_version = "3.9"
