<!DOCTYPE html>
<html lang="en">
<head>
    <title>search my bio</title>
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>

</head>
<body>
<div class="container">

    <h1>Search my bio</h1>



    <div id="query-container">
        <form id="api-call" action="#">

            <div class="input-group">
              <input type="text" id="query" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">Go!</button>
              </span>
            </div>

        </form>
    </div>

    <div class="alert alert-warning" id="noresults" style="display: none;"></div>


    <div id="results">

    </div>


</div>



</body>
</html>