<!DOCTYPE html>
<html lang="en">
<head>
    <title>search my bio</title>
    <script src="/static/jquery-3.2.1.min.js"></script>


    <script>

        $('document').ready(function(){
            $('form#api-call').submit(function(e){
                e.preventDefault();
                query = $('#query').val();
                console.log(query);
            });
        });

    </script>

</head>
<body>

<h1> {{ message }} </h1>

<div>
    <form id="api-call">
        <input type="text" id="query" />
        <button type="submit" id="run">run</button>
    </form>
</div>

</body>
</html>