<!DOCTYPE html>
<html lang="en">
<head>
    <title>search my bio</title>
    <script src="/static/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-103556016-2', 'auto');
      ga('send', 'pageview');
    </script>

</head>
<body>


<div class="container">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Search my bio</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Search projects <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/cv">All Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav>


    <h2>Projects</h2>

    <h3>Commercial</h3>
    <div class="printable-cv">
    {% for project in context['commercial_projects'] %}
        <div class="card" >
            <div class="card-header"> started {{ project['_source']['started'] }} </div>
                <div class="card-block">
                <h4 class="card-title"> {{ project['_source']['title']  }} </h4>
                    <p>{{ project['_source']['description']  }}</p>
                    <p>
                        {% for tag in project['_source']['technologies'] %}
                            <span class="badge badge-default tag"> {{ tag }} </span>
                        {% endfor %}

                    </p>
                </div>
        </div>
    {% endfor %}
    </div>


    <h3>Private</h3>
    <div class="printable-cv">
    {% for project in context['private_projects'] %}
        <div class="card" >
            <div class="card-header"> started {{ project['_source']['started'] }} </div>
                <div class="card-block">
                <h4 class="card-title"> {{ project['_source']['title']  }} </h4>
                    <p>{{ project['_source']['description']  }}</p>
                    <p>
                        {% for tag in project['_source']['technologies'] %}
                            <span class="badge badge-default tag"> {{ tag }} </span>
                        {% endfor %}

                    </p>
                </div>
        </div>
    {% endfor %}
    </div>


</div>



</body>
</html>