<!DOCTYPE html>
<html lang="en">
<head>
    <title>search my bio</title>
    <script src="/static/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>


<div class="container">

    <h1> My bio </h1>


    <h2>Projects</h2>

    <h3>Commercial</h3>
    <div class="printable-cv">
    {% for project in context['commercial_projects'] %}
        <div class="card" >
            <div class="card-header"> started {{ project['_source']['started'] }} </div>
                <div class="card-block">
                <h4 class="card-title"> {{ project['_source']['title']  }} </h4>
                    <p>{{ project['_source']['description']  }}</p>
                    <p>
                        {% for tag in project['_source']['technologies'] %}
                            <span class="badge badge-default tag"> {{ tag }} </span>
                        {% endfor %}

                    </p>
                </div>
        </div>
    {% endfor %}
    </div>


    <h3>Private</h3>
    <div class="printable-cv">
    {% for project in context['private_projects'] %}
        <div class="card" >
            <div class="card-header"> started {{ project['_source']['started'] }} </div>
                <div class="card-block">
                <h4 class="card-title"> {{ project['_source']['title']  }} </h4>
                    <p>{{ project['_source']['description']  }}</p>
                    <p>
                        {% for tag in project['_source']['technologies'] %}
                            <span class="badge badge-default tag"> {{ tag }} </span>
                        {% endfor %}

                    </p>
                </div>
        </div>
    {% endfor %}
    </div>


</div>



</body>
</html>